<p><%= @game.players[@game.index].name %> vs. <%= @game.players[@game.index_defence].name %></p>
<p><%= @game.players[@game.index_defence].name %>: <%= @game.players[@game.index_defence].hp %>HP</p>
<a href='/attack'>Attack</a>
